.card_text{
color: chartreuse;
text-align: center;

}
.title{
text-align: center;
color: rgb(243, 247, 14);
}
.Tarjetas_title{
border: 1px solid black;
display: flex;
justify-content: center;
width: 500px;
}
